/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Start of custom */

body {
    padding-top: 1.5rem;
    background-color: #9E9E9E;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    max-width: 56rem;
    background-color: #FFF;
    color: #545b61;
    border-radius: .3rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0 2px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow:         0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.jumbotron {
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0;
    background-color: #cdd4dc;
    border: 1px solid #bec8d4;
}

.jumbotron .lead {
    margin-bottom: 12px;
}

.code-npm-install {
    display: block;
    margin: 1rem auto;
    padding: 12px;
    width: 50%;
    color: #fbfbfb;
    background-color: #333333;
}

.footer {
    width: 100%;
    padding: 1rem;
    color: #3e3e3e;
    text-align: center;
}

.footer p {
    margin:0;
    padding:0;
}

.demo-output {
    margin-bottom: 1rem;
}

.demo-form {
    padding: 1rem 0.6rem;
    background-color: #333333;
    color: #FFF;
}

.demo-form .text-muted {
    color: #79b179 !important;
}

.form-control {
    margin-bottom: 0.5rem;
}

.text-muted {
    color: #737b82 !important
}

section {
    margin-bottom: 2rem;
}

h1 {
    color: #000;
}

h2 {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

p.form-text {
    margin-bottom: 0.2rem;
    margin-top: 0;
}

label {
    margin-bottom: 0.5rem;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 300;
}

.btn-primary {
    background-color: #57a1ca;
    border-color: #57a1ca;
}

.btn-primary:hover {
    background-color: #5392bb;
    border-color: #5392bb;
}

.btn-project {
    margin: 0 0.2rem;
}

.btn-reset {
    margin-right: 0;
}

.btn-project img {
    font-size: 2rem;
    height: 1.8rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

code {
    border-radius: 0;
}

pre,
textarea {
    margin-bottom: 1rem;
}

pre code {
    height: 100%;
    font-family: monospace;
}

.pad-top {
    padding-top: 2rem;
}

.form-text {
    font-size: 0.9rem;
}

div.form-text {
    margin-bottom: 0.2rem;
}


.logs {
    padding: 0.5rem 0;
    color: #62c8f3;
}

.logs div {
    padding: 0 0.5rem;
}

.logs div:nth-child(even) {
    background-color: #4e4e4e;
}
